.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.label {
  margin-bottom: 4px;
}

.content {
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid #000;
  background: transparent;
  position: relative;
  width: 100%;
  font-weight: 400;
  height: 2.5rem;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  .input {
    flex: 1;
    padding: 0.75rem 0.625rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: #000;

    &::placeholder {
      color: #666666;
    }

    &.withIcon {
      padding-left: 2.7rem;
    }
  }

  .icon {
    position: absolute;
    top: 0.8125rem;
    color: #000;
    padding-left: 0.75rem;
    cursor: text;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &::placeholder {
      color: #e6e6e6;
    }

    &.clickable {
      cursor: pointer;
      margin-right: 1rem;
      transition: color 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      &:focus-visible {
        // outline: 0.125rem solid var(--text-light);
        outline-offset: 0.125rem;
        border-radius: 0.125rem;
      }
    }
  }
}

.errorMessage {
  color: #ff0000;
  margin-top: -0.625rem;
  visibility: hidden;
  opacity: 0;

  p {
    font-size: 0.85rem !important;
  }
}

.showingErrorMessage {
  visibility: visible;
  opacity: 1;
  margin-top: 0.125rem;
}
