.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.85rem;
  height: 2.5rem;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    transform 0.1s ease-in-out;
  font-weight: 500;
  outline: none;
  padding: 0;

  &:focus-visible {
    outline: 2px solid var(--gray-400);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }

  &.primary {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    border: 1px solid #000000;

    &:hover:not(:disabled) {
      background-color: #f1f1f1;
    }
  }

  &.secondary {
    background-color: #000000;
    color: #ffffff;
  }

  &.size-small {
    width: 100%;
    max-width: 10rem;
  }

  &.size-medium {
    width: 100%;
    max-width: 20rem;
  }

  &.size-large {
    width: 100%;
  }
}
