/* 14px */
.text-small {
  font-size: clamp(0.75rem, 0.9vw + 0.6rem, 1rem); /* ~12px - 16px */
  font-weight: 400;
  line-height: 140%;
}

/* 16px */
.text-medium {
  font-size: clamp(0.95rem, 0.9vw + 0.9rem, 1.25rem); /* ~15px - 20px */
  font-weight: 700;
  line-height: 140%;
}

/* 20px */
.text-large {
  font-size: clamp(0.875rem, 1.1vw + 0.875rem, 1.375rem); /* ~14px - 22px */
  line-height: 120%;
}

/* Utilitário para forçar herança de cor quando necessário */
.text-inherit {
  color: inherit;
}
