:root {
  // Principais
  --black: #000000;
  --white: #ffffff;
  --green: #82bc4f;
  --red: #e3646e;
  --blue: #3996db;
  --yellow: #eabd5f;
  --purple: #bb72e9;

  // Base
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;
}
